# Google Apps Script Web App URL
# Get this by deploying the script as a web app (see GOOGLE_SHEETS_SETUP.md)
APPS_SCRIPT_URL=https://script.google.com/macros/s/1ogzbZofGMcZS9IK5CIjQBWwrILQfehVn7zlwVzzcqZE/exec
