# Google Apps Script Web App URL
# Get this by deploying the script as a web app (see GOOGLE_SHEETS_SETUP.md)
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzfA-v6y3eZieTtILf94cEe-gEK44_UwCONReyBubo2gN5L5yMt4n3dJh53DxvMKtRW/exec
